.title {
    background-color: skyblue;
    color: #fff;
    line-height: 2;
    text-align: center;
}

.search {
    margin-bottom: 0.4rem;
}

.line {
    height: 2px;
    width: 100vw;
    background: #ccc;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 1rem 0.5rem;
    .jifen {
        font-size: 1.3rem;
    }
    .sm {
        font-size: 0.8rem;
        color: grey;
    }
}