.centerWrapper {
		padding: 100rpx 124rpx 0;
		text-align: center;

		img {
			width: 160rpx;
			height: 160rpx;
			border-radius: 30rpx;
		}

		p {
			margin: 60rpx 0 40rpx;
			font-size: 28rpx;
			font-weight: 540;
			color: #2b2b2b;
		}
	}